body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #111;
}

.header {
  background-color: #111;
  color: white;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 80px; /* AUMENTADO */
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.5em;
  font-weight: bold;
}

.hero {
  background-color: #e21b1b;
  color: white;
  padding: 2em 1em; /* REDUCIDO */
  text-align: center;
}

.section {
  padding: 3em 2em;
  max-width: 1000px;
  margin: auto;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

.producto {
  background: white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 300px;
}

.producto img {
  width: 100%;
  border-radius: 8px;
}

.precio {
  color: green;
  font-weight: bold;
}

.contacto {
  background-color: #fff;
  text-align: center;
}

.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1em;
}

.footer-redes img {
  height: 30px;
  margin: 0 10px;
}

.btn-wsp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25D366;
  padding: 12px;
  border-radius: 50%;
